<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>geneGIS</Name><AddInID>{80845348-ba29-47c5-af34-e224df7c633b}</AddInID><Description>geographic context for genetic data</Description><Version>0.1</Version><Image /><Author>geneGIS team</Author><Company>OSU, Esri</Company><Date>09/08/2012</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="genegis_addin.py" namespace="genegis_addin"><ArcMap>
    <Commands>
        <Button caption="Import" category="geneGIS" class="ButtonClass5" id="genegis_addin.button" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Button" category="geneGIS" class="ButtonClass6" id="genegis_addin.button_1" image="" message="" tip=""><Help heading="" /></Button>
        <Tool caption="Select 1" category="geneGIS" class="ToolClass2" id="genegis_addin.tool" image="" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Select 2" category="geneGIS" class="ToolClass4" id="genegis_addin.tool_1" image="" message="" tip=""><Help heading="" /></Tool>
        <ToolPalette canTearOff="false" category="geneGIS" columns="2" id="genegis_addin.toolpalette" isMenuStyle="false"><Items><Tool refID="genegis_addin.tool" /><Tool refID="genegis_addin.tool_1" /></Items></ToolPalette>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="geneGIS" category="geneGIS" id="genegis_addin.toolbar" showInitially="true"><Items><Menu refID="genegis_addin.menu" /><ToolPalette refID="genegis_addin.toolpalette" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Export" category="geneGIS" id="genegis_addin.menu_export" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="genegis_addin.button_1" /></Items></Menu>
        <Menu caption="Manage Data" category="geneGIS" id="genegis_addin.menu" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="genegis_addin.button" /><Menu refID="genegis_addin.menu_export" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>