<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!-- project properties -->
  <Name>geneGIS</Name>
  <AddInID>{80845348-ba29-47c5-af34-e224df7c633b}</AddInID>
  <Description>geographic context for genetic data</Description>
  <Version>0.1</Version>
  <Image>Images\splash-movement-cropped.png</Image>
  <Author>geneGIS team</Author>
  <Company>OSU, Esri</Company>
  <Date>09/08/2012</Date>

<Targets>
  <Target name="Desktop" version="10.1" />
</Targets>

<AddIn language="PYTHON" library="genegis_addin.py" namespace="genegis_addin">
  <ArcMap>

    <Commands>
        <!-- Data manipulation -->
        <Button
          caption="Import"
          category="geneGIS"
          class="ImportData"
          id="genegis_import.button"
          image=""
          message="Import data from a SRGD formatted table (CSV, Text or XLS Spreadsheet)."
          tip="">
          <Help heading="" />
      </Button>

        <!-- Export -->
        <Button
          caption="Export to GenAlEx"
          category="geneGIS"
          class="ExportGenAlEx"
          id="genegis_export_genalex.button"
          image=""
          message="Export data to GenAlEx. Can convert the entire dataset, or a comparison of populations based on a selection."
          tip="">
          <Help heading="" />
        </Button>

        <Button
          caption="Export to Genepop"
          category="geneGIS"
          class="ExportGenepop"
          id="genegis_export_genepop.button"
          image=""
          message="Export data to Genepe. Can convert the entire dataset, or a comparison of populations based on a selection."
          tip="">
          <Help heading="" />
        </Button>

        <Button
          caption="Export to KML"
          category="geneGIS"
          class="ExportKML"
          id="genegis_export_kml.button"
          image=""
          message="Export data to KML. Style information will be retained, and export is of a single layer."
          tip="">
          <Help heading="" />
        </Button>

        <Button
          caption="Export to SRGD"
          category="geneGIS"
          class="ExportSRGD"
          id="genegis_export_srgd.button"
          image=""
          message="Export data to a SRGD formatted table (CSV). Useful for uploading data to Shepard Project sites."
          tip="">
          <Help heading="" />
        </Button>

        <!-- Genetics Analysis tools-->
        <Button
          caption="Calculate F-statistics"
          category="geneGIS"
          class="calculateFst"
          id="genegis_calculate_fst.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>

        <!-- Geographic Analysis tools-->
        <Button
          caption="Compute Distance Matrix"
          category="geneGIS"
          class="computeDistanceMatrix"
          id="genegis_distance_matrix.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>
        <Button
          caption="Compute Distance Paths"
          category="geneGIS"
          class="computeDistancePaths"
          id="genegis_distance_paths.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>
        <Button
          caption="Individual Paths"
          category="geneGIS"
          class="individualPaths"
          id="genegis_individual_paths.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>

        <!-- Summarization tools -->
        <Button
          caption="Extract Raster Values"
          category="geneGIS"
          class="ExtractValuesToPoints"
          id="genegis_extract_values_to_points.button"
          image="Images\genegis_extract_raster_values.png"
          message=""
          tip="">
          <Help heading="" />
        </Button>


        <Tool
          caption="Summarize Encounters"
          category="geneGIS"
          class="SummarizeEncounters"
          id="genegis_summarize.tool"
          image="Images\genegis_area_limited_icon.png"
          message=""
          tip="Statistics on a single selection of encounters."
          showCaption="true">
          <Help
            heading="Summarize Encounters"
            >Statistics on a single selection of encounters.</Help>
        </Tool>

        <Tool
          caption="Compare Encounters"
          category="geneGIS"
          class="CompareEncounters"
          id="genegis_compare.tool"
          image="Images\genegis_area_limited_inverted_icon.png"
          message=""
          tip="Compare between two sets of encounters.">
          <Help
            heading="Compare encounter groups"
            >Compare between two sets of encounters.</Help>
        </Tool>

        <ToolPalette
          canTearOff="false"
          category="geneGIS"
          columns="2"
          id="genegis_addin.toolpalette"
          isMenuStyle="false">
          <Items>
            <Tool refID="genegis_summarize.tool" />
            <Tool refID="genegis_compare.tool" />
          </Items>
        </ToolPalette>

        <ComboBox
          caption="Layer:"
          category="geneGIS"
          class="LayerCombo"
          id="genegis_layer_combo.combobox"
          itemSizeString="WWWWWWWWW"
          message="select a layer for analysis"
          rows="2"
          sizeString="WWWWWWWWW"
          tip="Choose the layer to use for analysis.">
          <Help
            heading="Select Layer"
            >Choose the layer to use for analysis.</Help>
        </ComboBox>
      </Commands>

      <Extensions>
        <Extension
          autoLoad="true"
          name="geneGIS"
          showInExtensionDialog="true"
          productName="geneGIS"
          id="genegis_addin.extension"
          description="combining genetic and spatial data"
          class="geneGISExtension"
          category="geneGIS setup" />
      </Extensions>

      <!-- the primary toolbar which everything is nested within -->
      <Toolbars>
        <Toolbar
          caption="geneGIS"
          category="geneGIS"
          id="genegis_addin.toolbar"
          showInitially="true">
          <Items>
            <Menu refID="genegis_addin.data_menu" />
            <Menu refID="genegis_addin.analysis_menu" />
            <ComboBox refID="genegis_layer_combo.combobox" />
            <!-- disable
            <Menu refID="genegis_encounters.menu" />
            -->
            <ToolPalette refID="genegis_addin.toolpalette" />
            <!-- borrow a tool from the standard set to deselect features -->
            <Button refID="genegis_extract_values_to_points.button" />
            <Button refID="esriArcMapUI.ClearSelectionCommand" />
          </Items>
        </Toolbar>
      </Toolbars>

      <Menus>
        <Menu
          caption="Export"
          category="geneGIS"
          id="genegis_addin.menu_export"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_export_genalex.button" />
            <Button refID="genegis_export_genepop.button" />
            <Button refID="genegis_export_kml.button" />
            <Button refID="genegis_export_srgd.button" />
          </Items>
        </Menu>
        <Menu
          caption="Manage Data"
          category="geneGIS"
          id="genegis_addin.data_menu"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_import.button" />
            <Menu refID="genegis_addin.menu_export" />
          </Items>
        </Menu>
        <Menu
          caption="Genetics"
          category="geneGIS"
          id="genegis_addin.menu_genetics"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_calculate_fst.button" />
          </Items>
        </Menu>
        <Menu
          caption="Geographic"
          category="geneGIS"
          id="genegis_addin.menu_geographic"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_distance_matrix.button" />
            <Button refID="genegis_distance_paths.button" />
            <Button refID="genegis_individual_paths.button" />
            <Button refID="genegis_extract_values_to_points.button" />
          </Items>
        </Menu>
 
        <Menu
          caption="Analysis"
          category="geneGIS"
          id="genegis_addin.analysis_menu"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Menu refID="genegis_addin.menu_genetics" />
            <Menu refID="genegis_addin.menu_geographic" />
          </Items>
        </Menu>
 
        <!-- disable this additional menu for the time-being.
        <Menu
          caption="Select"
          category="geneGIS"
          id="genegis_encounters.menu"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Tool refID="genegis_addin.tool" />
            <Tool refID="genegis_addin.tool_1" />
          </Items>
        </Menu>
        -->
       </Menus>

    </ArcMap>
  </AddIn>
</ESRI.Configuration>
