<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

<!-- project properties -->
  <Name>geneGIS</Name>
  <AddInID>{80845348-ba29-47c5-af34-e224df7c633b}</AddInID>
  <Description>geographic context for genetic data</Description>
  <Version>0.1</Version>
  <Image>Images\splash-movement-cropped.png</Image>
  <Author>geneGIS team</Author>
  <Company>OSU, Esri</Company>
  <Date>09/08/2012</Date>

<Targets>
  <Target name="Desktop" version="10.1" />
</Targets>

<AddIn language="PYTHON" library="genegis_addin.py" namespace="genegis_addin">
  <ArcMap>

    <Commands>
        <!-- Data manipulation -->
        <Button
          caption="Import"
          category="geneGIS"
          class="ImportData"
          id="genegis_import.button"
          image=""
          message="Import data from a SRGD formatted CSV file."
          tip="">
          <Help heading="" />
      </Button>

        <Button
          caption="Export GenAlex Codominant"
          category="geneGIS"
          class="ExportGenAlexCodominant"
          id="genegis_export_genalex_codominant.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>

        <Button
          caption="Export GenAlex Haploid"
          category="geneGIS"
          class="ExportGenAlexHaploid"
          id="genegis_export_genalex_haploid.button"
          image=""
          message=""
          tip="">
          <Help heading="" />
        </Button>

        <!-- Summarization tools -->
        <Button
          caption="Extract Raster Values"
          category="geneGIS"
          class="ExtractValuesToPoints"
          id="genegis_extract_values_to_points.button"
          image="Images/genegis_extract_raster_values.png"
          message=""
          tip="">
          <Help heading="" />
        </Button>


        <Tool
          caption="Summarize Encounters"
          category="geneGIS"
          class="SummarizeEncounters"
          id="genegis_summarize.tool"
          image="Images/genegis_area_limited_icon.png"
          message=""
          tip="Statistics on a single selection of encounters."
          showCaption="true">
          <Help
            heading="Summarize Encounters"
            >Statistics on a single selection of encounters.</Help>
        </Tool>

        <Tool
          caption="Compare Encounters"
          category="geneGIS"
          class="CompareEncounters"
          id="genegis_compare.tool"
          image="Images/genegis_area_limited_inverted_icon.png"
          message=""
          tip="Compare between two sets of encounters.">
          <Help
            heading="Compare encounter groups"
            >Compare between two sets of encounters.</Help>
        </Tool>

        <ToolPalette
          canTearOff="false"
          category="geneGIS"
          columns="2"
          id="genegis_addin.toolpalette"
          isMenuStyle="false">
          <Items>
            <Tool refID="genegis_summarize.tool" />
            <Tool refID="genegis_compare.tool" />
          </Items>
        </ToolPalette>

        <ComboBox 
          caption="Layer:"
          category="geneGIS"
          class="LayerCombo"
          id="genegis_layer_combo.combobox"
          itemSizeString="WWWWW"
          message="select a layer for analysis"
          rows="2"
          sizeString="WWWWW"
          tip="Choose the layer to use for analysis.">
          <Help
            heading="Select Layer"
            >Choose the layer to use for analysis.</Help>
        </ComboBox>
      </Commands>

      <Extensions></Extensions>

      <!-- the primary toolbar which everything is nested within -->
      <Toolbars>
        <Toolbar
          caption="geneGIS"
          category="geneGIS"
          id="genegis_addin.toolbar"
          showInitially="true">
          <Items>
            <Menu refID="genegis_addin.menu" />
            <ComboBox refID="genegis_layer_combo.combobox" />
            <!-- disable
            <Menu refID="genegis_encounters.menu" />
            -->
            <ToolPalette refID="genegis_addin.toolpalette" />
            <!-- borrow a tool from the standard set to deselect features -->
            <Button refID="genegis_extract_values_to_points.button" />
            <Button refID="esriArcMapUI.ClearSelectionCommand" />
          </Items>
        </Toolbar>
      </Toolbars>

      <Menus>
        <Menu
          caption="Export"
          category="geneGIS"
          id="genegis_addin.menu_export"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_export_genalex_codominant.button" />
            <Button refID="genegis_export_genalex_haploid.button" />
          </Items>
        </Menu>
        <Menu
          caption="Manage Data"
          category="geneGIS"
          id="genegis_addin.menu"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Button refID="genegis_import.button" />
            <Menu refID="genegis_addin.menu_export" />
          </Items>
        </Menu>
        <!-- disable this additional menu for the time-being.
        <Menu
          caption="Select"
          category="geneGIS"
          id="genegis_encounters.menu"
          isRootMenu="false"
          isShortcutMenu="false"
          separator="false">
          <Items>
            <Tool refID="genegis_addin.tool" />
            <Tool refID="genegis_addin.tool_1" />
          </Items>
        </Menu>
        -->
       </Menus>

    </ArcMap>
  </AddIn>
</ESRI.Configuration>
